/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// typographical styles
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

// background gradient
.home-callout, .navbar {
    // gradient provided by #_ighosh at uiGradient
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// nav bar styles
.navbar {
    border: none;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
    padding-left: 50px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-default .navbar-toggle {
    border: 2px solid white;
    &:hover, &:focus {
         background-color: #acb6e5;
    }
}

div ul li {
    padding-left: 200px;
    padding-top: 20px;
    font-size: 20px;
}

// home page styles
.home-callout {
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 50px;
}


    